<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
    colors="true"
    cacheResult="false"
    bootstrap="tests/bootstrap.php"
    displayDetailsOnAllIssues="true"
>

    <!-- code coverage reporting -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="WAF-Core Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <!-- all other env vars are now managed via a .env file, and loaded in bootstrap.php -->
    <php>
        <env name="SERVER_TYPE" value="nginx"/>
        <env name="VERBOSITY" value="1"/>
    </php>
</phpunit>
